<!DOCTYPE html> <!-- 使用 HTML5 doctype，不区分大小写 -->
<html lang="zh-cmn-Hans"> <!-- 更加标准的 lang 属性写法 http://zhi.hu/XyIa -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.edatagrid.js"></script>
 <!--   &lt;!&ndash; jquery核心库 &ndash;&gt;
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    &lt;!&ndash; easyui核心库 &ndash;&gt;
    <script type="text/javascript" src="./js/jquery.easyui.min.js"></script>
    &lt;!&ndash; easyui核心UI文件 css &ndash;&gt;
    <link href="./themes/default/easyui.css" rel="stylesheet" type="text/css"/>
    &lt;!&ndash; easyui图标 &ndash;&gt;
    <link href="./themes/icon.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/baseCss.css">-->
    <script>

    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'North Title',split:true" style="height:100px;"></div>
<div data-options="region:'west',title:'West',split:true" style="width:100px;"></div>
<div data-options="region:'center',href:'test2.html',iconCls:'icon-save',title:'控制中心'" style="background:#eee;overflow: hidden;"></div>
</body>
</html>
